a {
  text-decoration: none;
  font-family: 'FreeSerif', sans-serif;
  color: #007bff;
}
p {
  font-size: 11px;
}
h2, h3, h4, h5, h1, p {
  font-family: 'FreeSerif', sans-serif;
}
.table {
  border: 1px solid #333;
  border-collapse: collapse;
}
