.footnote-label, .footnotes-container, li, a, ul, h2 {
    text-align: justify;
}

.footnotes-container {
  font-family: 'Philosopher';
}

li {
  font-size: 11.5px;
  margin-bottom: 20px;
}

a, .footnote-label, ext-link {
  text-decoration: bold;
  color: rgb(61, 145, 191);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-decoration: bold;
  color: black;
  font-family: 'Philosopher';
  margin-top: 30px;
  margin-bottom: 20px;
}