.footnotes-container, .references-section {
  font-family: 'Philosopher', sans-serif;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: bold;
  color: rgb(61, 145, 191);
}

ul {
  list-style-type: none;
}

h2 {
  text-decoration: bold;
  text-size: 16px;
  color: black;
  font-family: 'Philosopher', sans-serif;
}