.frontpage-body {
    font-family: 'Philosopher', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
}

.frontpage-container {
    max-width: 800px;
    box-sizing: border-box;
    position: relative;
}

.frontpage-journal-header {
    position: relative;
}

.frontpage-logo-info-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    border-collapse: collapse;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.frontpage-journal-info-table {
    width: 100%;
    border-collapse: collapse;
}

.frontpage-journal-info-table {
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

.frontpage-journal-logos {
    position: relative;
    display: block;
}

.frontpage-journal-logo {
    width: auto;
    height: 80px;
    display: block;
}

.frontpage-institution-logo {
    width: auto;
    height: auto;
}

.frontpage-journal-info {
    font-family: 'Helvetica', sans-serif;
    color: #000000;
    line-height: 1.4;
    text-align: left;
    vertical-align: top;
}

.frontpage-journal-info-line {
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    align-content: left;
    font-size: 7pt;
    padding-bottom: 3px;
}

.frontpage-journal-info-cell {
    vertical-align: left;
    text-align: left;
}

.frontpage-journal-info a {
    color: #007bff;
    text-decoration: none;
}

.frontpage-article-body {
    padding-top: 0;
}

.frontpage-article-title {
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    color: rgb(49, 132, 155);
    text-align: left;
    margin-top: 70px;
    margin-bottom: 0px;
}

.frontpage-article-subtitle {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(49, 132, 155);
    text-align: left;
    margin-top: 0px;
}

.frontpage-article-lang-title {
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    color: rgb(49, 132, 155);
    text-align: left;
    margin-bottom: 15px;
}

.frontpage-author-info {
    font-family: "Arial", sans-serif;
    font-size: 10pt;
    margin-bottom: 12px;
    line-height: 1.4;
    margin-top: 45px;
}

.frontpage-orcid-logo {
    height: 1.2em;
    vertical-align: middle;
    margin-right: 5px;
}

.frontpage-author-name-colored {
    font-family: 'Philosopher', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: rgb(123, 128, 127);
}

.frontpage-author-contact {
    font-family: 'FreeSerif', serif;
    font-size: 9.5pt;
    margin-top: 2px;
    margin-bottom: 2px;
}

.frontpage-author-affiliation {
    font-family: "FreeSerif", serif;
    font-size: 13.5px;
    margin-bottom: 2px;
}

.frontpage-author-separation {
    margin-bottom: 10px;
}

.frontpage-abstract-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: justify;
}

.frontpage-abstract-title {
    font-family: 'Helvetica', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: rgb(49, 132, 155);
    white-space: nowrap;
}

.frontpage-abstract-text {
    font-family: 'FreeSerif', serif;
    font-size: 10pt;
    color: #000000;
}

.frontpage-keywords-container {
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 15px;
    font-size: 9.5pt;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
    text-align: justify;
}

.frontpage-keywords-label {
    font-weight: bold;
    color: rgb(49, 132, 155);
    white-space: nowrap;
}

.frontpage-keywords-list {
    font-family: 'FreeSerif', serif;
    font-size: 10pt;
    display: inline;
    margin: 0;
    padding: 0;
}

.frontpage-license-info {
    font-family: 'Philosopher';
    font-size: 7.5pt;
    color: #666;
    margin-top: 20px;
    text-align: left;
}

.frontpage-license-image {
    max-width: auto;
    max-height: 20px;
    margin-right: 10px;
}

.frontpage-page-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 7.5pt;
    color: #777;
}

.frontpage-footer-text {
    font-weight: normal;
}

.frontpage-page-number {
    text-align: right;
}

.frontpage-hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: block;
}

.frontpage-author-hr {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.frontpage-anchor {
    color: rgb(49, 132, 155);
    text-decoration: none;
}

.frontpage-issn {
    color: black;
    text-decoration: none;
}

.frontpage-separator {
    color: black;
    text-decoration: none;
}

.frontpage-logo-cell {
    vertical-align: right;
    padding-right: 0px;
}

.frontpage-header-hr-cell {
    width: 80%;
}

.frontpage-institution-logo-cell {
    width: 20%;
    text-align: right;
}

.frontpage-license-info {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.frontpage-license-image {
    width: 90px;
    vertical-align: middle;
}

.frontpage-license-text {
    vertical-align: middle;
    padding-left: 10px;
}