.references-section {
  font-family: 'Philosopher';
}

li {
  font-size: 12px;
  margin-bottom: 20px;
}

a {
  text-decoration: bold;
  color: rgb(61, 145, 191);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-decoration: bold;
  margin-bottom: 20px;
  color: black;
  font-family: 'Philosopher';
}