.references-section,
h2,
a,
ul,
span,
p,
li,
ol {
  font-family: 'FreeSerif';
  text-align: justify;
  line-height: 1.3;
}

li {
  font-size: 14px;
  margin-bottom: 18px;
}

a,
.citation-url {
  text-decoration: bold;
  color: rgb(61, 145, 191);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.references-title {
  text-decoration: bold;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}