<button type="button" id="openCitationModalBtn" class="view-btn-citations">Asignar Citas</button><div id="citationModal" class="citation-modal" style="display: none;">
                    <div class="citation-modal-content">
                    <span class="citation-modal-close">&times;</span><div class="citation-form-container" style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;"><div id="citationErrorMessage" class="citation-error-message" style="display:none;">
                <span class="error-icon">⚠️</span> Error: No puedes guardar una cita vacía.
                </div><form method="POST" target="_self" id="citationForm">
                <input type="hidden" name="xmlFilePath" value="/var/ojs-data/journals/1/articles/2/68b0986b20b3c.xml">
                <input type="hidden" name="citationStyleName" value="apa">
                <input type="hidden" name="publicationId" value="2">
                <input type="hidden" name="locale_key" value="es"><table class="citation-table">
                <tr class="citation-header">
                    <th class="citation-th">Contexto</th>
                    <th class="citation-th">Referencias</th>
                    <th class="citation-th"> Estilo de Cita </th>
                </tr><tr class='citation-row'><td rowspan="2" class="citation-td">Lorem <span style="color: #0066cc; font-weight: bold; background-color: #f0f8ff; padding: 0 3px; border-radius: 3px;">(Abad Castelló y Álvarez Baz, 2021; Aikhenwald, 2012)</span></td><td class='citation-td'>Abad Castelló, M., &amp; Álvarez Baz, A. (2021). Aprendizaje basado en datos y combinaciones léxicas: una propuesta didáctica con cuasisinónimos. <i>MLS Educational Research</i>, <i>2</i>(5), 88-104. https://doi.org/10.29314/mlser.v5i2.562</td><td rowspan='2' class='citation-td select-wrapper-cell'>
                    <select name='citationStyle[xref-39c7a6b588d24c4ea3352fa72a6535da]' id='citationStyle_xref-39c7a6b588d24c4ea3352fa72a6535da' 
                        class='citation-select citation-original'
                        data-original-value='(Abad Castelló y Álvarez Baz, 2021; Aikhenwald, 2012)'>
                        <option value='(Abad Castelló y Álvarez Baz, 2021; Aikhenwald, 2012)' selected>(Abad Castelló y Álvarez Baz, 2021; Aikhenwald, 2012)</option>
                        <option value='(2021; 2012)' >(2021; 2012)</option>
                        <option value='custom' >Otro</option>
                    </select></td></tr><tr class='citation-row citation-group-last-row'><td class='citation-td'>Aikhenwald, A. (2012). The essence of mirativity. <i>Linguistic Typology</i>, <i>3</i>(16), 435-485. https://doi.org/10.1515/lity-2012-0017</td></tr><tr class='citation-row citation-group-last-row'><td rowspan="1" class="citation-td">Lorem[1,2] ipsum dolor sit amet, consectetur adipiscing elit <span style="color: #0066cc; font-weight: bold; background-color: #f0f8ff; padding: 0 3px; border-radius: 3px;">(Aikhenwald, 2012)</span></td><td class='citation-td'>Aikhenwald, A. (2012). The essence of mirativity. <i>Linguistic Typology</i>, <i>3</i>(16), 435-485. https://doi.org/10.1515/lity-2012-0017</td><td rowspan='1' class='citation-td select-wrapper-cell'>
                    <select name='citationStyle[xref-e56e37411856e0f5efe763c75ad53ff4]' id='citationStyle_xref-e56e37411856e0f5efe763c75ad53ff4' 
                        class='citation-select citation-original'
                        data-original-value='(Aikhenwald, 2012)'>
                        <option value='(Aikhenwald, 2012)' selected>(Aikhenwald, 2012)</option>
                        <option value='(2012)' >(2012)</option>
                        <option value='custom' >Otro</option>
                    </select></td></tr></table><button type="submit" class="save-btn-citations">
                    Guardar Citas
                </button></form></div></div></div></div></div>