a {
  text-decoration: none;
  color: #007bff;
}

p {
  font-size: 13px;
}

h2, h3, h4, h5, h1, p, a, span, .table, li, ul, ol {
  font-family: 'FreeSerif', sans-serif;
  text-align: justify;
}

.table {
  border: 1px solid #333;
  border-collapse: collapse;
}

.title, .notes, .caption-title, .caption-notes, caption {
  text-align: justify;
}

.figure, .table, img, table {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

